{{/* Set Cards configs */}}
{{ $has_image := .card_image }}
{{ $image_has_radius := .img_radius }}
{{ $has_cta_btn := .cta_btn }}
{{ $img_classes := (cond ($image_has_radius) "image-rounded" "") }}
{{ $card_total := .cards | len }}
{{ $card_width := "is-one-third" }}
{{ $card_title := "" }}
{{ $card_content := "" }}
{{ $card_btn_label := "" }}
{{ $card_btn_link := "" }}
{{ $lightbox_type := substr .base_name 0 1 }}
{{ $base := .base_name }}
{{ $card_img_path := "" }}
{{ $card_section := "" }}

{{ with (ge $card_total 2) }}
  {{ $card_width = "is-half-tablet is-one-third-desktop" }}
{{ end }}

{{ with (ge $card_total 3) }}
  {{ $card_width = "is-one-third-tablet" }}
{{ end }}

{{ with (ge $card_total 4) }}
  {{ $card_width = "is-half-tablet is-one-quarter-desktop" }}
{{ end }}

{{ with (ge $card_total 5) }}
  {{ with (eq (mod $card_total 2) 0) }}
    {{ $card_width = "is-half-tablet is-one-third-desktop even" }}
  {{ end }}

  {{ with (eq (mod $card_total 2) 1) }}
    {{ $card_width = "is-one-third" }}
  {{ end }}
{{ end }}

<div class="columns pt-4 pb-4 is-multiline is-centered">
  {{ range .cards }}    
    {{ $card_title = print $base "_card_title_" .Params.order}}
    {{ $card_content = print $base "_card_content_" .Params.order}}
    {{ $card_btn_label = print $base "_card_btn_label_" .Params.order}}
    {{ $card_btn_link = print "#lbx?" $lightbox_type "=" .Params.order }}
    {{ $card_section = .Params.section }}
    {{ $card_img_path = .Params.card_img }}

    <div class="column is-flex-tablet {{$card_width}}">
      <div class="card is-rounded is-equal-height">      
        {{ with $has_image }}
          <div class="card-image">
            <figure class="image is-5by3">
            {{ partial "image_processing/card_srcset" (dict "context" . "base" $card_section "srcurl" $card_img_path "classnames" $img_classes) }}
            </figure>
          </div>        
        {{ end }}
        
        <div class="card-content has-top-shadow">
          <div class="content">
            <p class="title is-5 has-text-primary">
              {{ i18n $card_title }}
            </p>

            <p>
              {{ i18n $card_content }}
            </p>            
          </div>
        </div>

        {{ with $has_cta_btn }}
          <footer class="card-footer">
            <a href="{{$card_btn_link}}" class="button is-primary">
              {{ i18n $card_btn_label }}
            </a>
          </footer>
        {{ end }}
      </div>
    </div>    
  {{ end }}
</div>