{{/* TODO */}}
{{/* 
  Add new i18n key for card Title
  Add new i18n key for card CTA button text
  Add new homepage configs to add or remove CTA button to card
  Use card order param to create URL params for lightbox: ex -> #slbx?s=2
  https://bulma.io/images/placeholders/1280x960.png
*/}}

{{/* Set Cards configs */}}
{{ $has_image := .data.section_services.card_has_image }}
{{ $image_has_radius := .data.section_services.image_has_radius }}
{{ $img_classes := (cond ($image_has_radius) "image-rounded" "") }}
{{ $card_total := .cards | len }}
{{ $card_width := "is-one-third" }}
{{ $card_index := "" }}
{{ $base := .base_name }}
{{ $card_img_path := "" }}
{{ $card_section := "" }}


{{ with (ge $card_total 2) }}
  {{ $card_width = "is-half-tablet is-one-third-desktop" }}
{{ end }}

{{ with (ge $card_total 3) }}
  {{ $card_width = "is-one-third-tablet" }}
{{ end }}

{{ with (ge $card_total 4) }}
  {{ $card_width = "is-half-tablet is-one-quarter-desktop" }}
{{ end }}

{{ with (ge $card_total 5) }}
  {{ with (eq (mod $card_total 2) 0) }}
    {{ $card_width = "is-half-tablet is-one-third-desktop even" }}
  {{ end }}

  {{ with (eq (mod $card_total 2) 1) }}
    {{ $card_width = "is-one-third" }}
  {{ end }}
{{ end }}

<div class="columns pt-4 pb-4 is-multiline is-centered">
  {{ range .cards }}    
    {{ $card_index = print $base .Params.order}}
    {{ $card_section = .Params.section }}
    {{ $card_img_path = .Params.card_img }}

    <div class="column is-flex-tablet {{$card_width}}">
      <div class="card is-rounded">      
        {{ with $has_image }}
          <div class="card-image">
            <figure class="image is-5by3">
            {{ partial "image_processing/card_srcset" (dict "context" . "base" $card_section "srcurl" $card_img_path "classnames" $img_classes) }}
            </figure>
          </div>
        {{ else }}
          <div class="card-header">
            <p class="card-header-title">
              My Card
            </p>
          </div>
        {{ end }}
        
        <div class="card-content">
          <div class="content">
            <p class="title is-4">{{.Title}}</p>

            <p>
              {{ i18n $card_index }}
            </p>
          </div>
        </div>
      </div>
    </div>    
  {{ end }}
</div>