{{/* TODO */}}
{{/* 
    Exclude all ".pages" from card template to make card more modable and reusable
    Initialize a variable with Section content of card type Services
    Add new dict params with new variable to card partial
    Card should not know wich type it is inside it's logic
*/}}


<section class="section">
  <div class="container">
    {{ partial "section_title/title_with_underline" (dict "context" . "data" .data) }}
  </div>
  <div class="container">
    {{ partial "cards/card" (dict "context" . "data" .data "pages" .pages) }}
  </div>
</section>
