<div class="columns pt-4 pb-4">
  <div class="column is-one-third">
    <div class="card is-rounded">
      <div class="card-header">
        <p class="card-header-title">
          My Card
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
          aspernatur vitae, earum minus eius sed quidem! Doloremque error
          ducimus, mollitia quod obcaecati amet laudantium quae, saepe illo,
          quisquam quaerat explicabo.
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card is-rounded">
      <div class="card-header">
        <p class="card-header-title">
          My Card
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
          aspernatur vitae, earum minus eius sed quidem! Doloremque error
          ducimus, mollitia quod obcaecati amet laudantium quae, saepe illo,
          quisquam quaerat explicabo.
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card is-rounded">
      <div class="card-header">
        <p class="card-header-title">
          My Card
        </p>
      </div>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
          aspernatur vitae, earum minus eius sed quidem! Doloremque error
          ducimus, mollitia quod obcaecati amet laudantium quae, saepe illo,
          quisquam quaerat explicabo.
        </div>
      </div>
    </div>
  </div>
</div>
