{{ .Scratch.Set "css" "http://localhost:1314/css/bundle.css" }} 
{{ .Scratch.Set "js" "http://localhost:1314/js/bundle.js" }} 
{{ if not .Site.IsServer }} 
{{ .Scratch.Set "css" (index .Site.Data.manifest "main.css") }} 
{{ .Scratch.Set "js" (index .Site.Data.manifest "main.js") }} 
{{ end }}

{{/* Set class for fixed navbar */}}
{{ $navIsFixed := (cond ($.Site.Data.homepage.navbar.fixed) "is-fixed-top" "") }}

<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="{{$navIsFixed}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Site.Params.Description }}">

    {{ $css := .Scratch.Get "css" }}
    <link rel="stylesheet" href="{{ $css }}"></link>
  </head>
  <body>              
    {{- block "main" .}}{{- end}}

    {{ $js := .Scratch.Get "js" }}
    <script src="{{ $js }}"></script>
  </body>
</html>
