.is-justified-right-desktop {
  justify-content: flex-end;
}

.is-justified-left-desktop {
  justify-content: flex-start;
}

.is-centered {
  margin: 0 auto;
}

.divider {
  height: 3px;
  border-radius: 50px;
  background: $divider_bg_color;
  width: 60px;
  margin-top: 16px;
  margin-bottom: 16px;

  &.img-divider {
    width: 100%;
    background: none;
    border-radius: 0;
    height: $divider_img_height;
  }
}

.card {
  &.is-rounded {
    @include border-radius(10px, 10px, 10px, 10px);

    .card-header {
      @include border-radius(10px, 10px);
    }

    .image-rounded {
      @include border-radius(10px, 10px);
    }
  }
}
