.is-justified-right-desktop {
  justify-content: flex-end;
}

.is-justified-left-desktop {
  justify-content: flex-start;
}

.is-centered {
  margin: 0 auto;
}

.divider {
  height: 3px;
  border-radius: 50px;
  background: $divider_bg_color;
  width: 60px;
  margin-top: 16px;
  margin-bottom: 16px;

  &.img-divider {
    width: 100%;
    background: none;
    border-radius: 0;
    height: $divider_img_height;
  }
}

.card {
  &.is-rounded {
    @include border-radius(10px, 10px, 10px, 10px);

    .card-header {
      @include border-radius(10px, 10px);
    }

    .image-rounded {
      @include border-radius(10px, 10px);
    }
  }

  &.is-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-footer {
      margin-top: auto;
    }
  }

  .card-image {
    &.has-shadow {
      box-shadow: 0 5px 5px -5px rgba(10, 10, 10, 0.075);
    }
  }

  .card-content {
    &.has-top-shadow {
      position: relative;
      box-shadow: 0 -5px 5px -5px rgba(10, 10, 10, 0.075);
    }
  }

  .card-footer {
    border: none;
    padding: 8px;
    justify-content: center;

    button,
    a {
      @include card-button();
    }
  }
}

.hero {
  position: relative;

  .hero-foot {
    &.is-abs-bottom {
      position: absolute;
      left: 45px;
      bottom: 16px;
    }
  }

  nav {
    &.is-transparent {
      .navbar-item {
        &.has-dropdown {
          .navbar-dropdown {
            .navbar-item {
              &:hover {
                background-color: #f5f5f5 !important;
              }
            }
          }
        }
      }
    }
  }
}
