{{/* Set hero height */}}
{{ $fullheight := (cond (.data.hero.fullheight) "is-fullheight" "is-large") }}
{{ $has_hero_footer := .data.hero.social_media_footer }}

{{/* Set hero content position and column width */}}
{{ $contentPosition := .data.hero.content_position }}
{{ $textPosition := "has-text-centered" }}
{{ $columnWidth := "is-full" }}
{{ $columnsJustify := "" }}
{{ with (eq $contentPosition "right") }}
  {{ $textPosition = "has-text-right-desktop has-text-centered" }}
  {{ $columnWidth = "is-half-desktop" }}
  {{ $columnsJustify = "is-justified-right-desktop" }}
{{ end }}
{{ with (eq $contentPosition "left") }}
  {{ $textPosition = "has-text-left-desktop has-text-centered" }}
  {{ $columnWidth = "is-half-desktop" }}
  {{ $columnsJustify = "is-justified-left-desktop" }}
{{ end }}

<section class="hero is-primary {{$fullheight}}">
  <div class="hero-head">
    {{ partial "navbar" (dict "context" . "data" .data "pages" .pages) }}
  </div>
  <div class="hero-body">
    <div class="container {{$textPosition}}">
      <div class="columns {{$columnsJustify}}">
        <div class="column {{$columnWidth}}">
          <h1 class="title is-1">
            {{ i18n "hero_title" }}
          </h1>
          <h2 class="subtitle">
            {{ i18n "hero_subtitle" }}
          </h2>
        </div>
      </div>
    </div>
  </div>
    
  {{ if $has_hero_footer }}
    {{ partial "hero_banner/hero_footer" (dict "context" . "data" .data "pages" .pages) }}
  {{ end }}
</section>
